* {
	font-family: arial, helvetica, sans-serif;
	font-size: small;
}
body {
	background-color: white;
}
a {
	color: blue;
	text-decoration: none;
}
th {
	text-align: left;
	padding-right: 5pt;
	color: green;
}
td {
	vertical-align: top;
	padding-right: 5pt;
}

.title {
	font-size: xx-large;
	font-weight: bold;
	color: green;
}
.subtitle {
	color: green;
}
.heading {
	font-size: large;
	font-weight: bold;
	color: green;
}
.info {
	color: black;
}
.error {
	background-color: yellow;
}
